body  {
  background-image: url("https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.container {
  background-color: rgba(245, 245, 245, 0.70);
  border-style: ridge;
  border-color: rgba(32, 17, 17, 0.70);
  border-radius: 15px;
}

h1  {
  font-family: 'Recursive', sans-serif;
}
li {
  font-family: 'Cinzel', serif;
}