@{
  Layout = "_Layout";
}
<h1>Doctor's Office</h1>
<input type="button" value="Doctor's List" onclick="location.href='@Url.Action("Index", "Doctors")';" class="btn btn-primary" />
<input type="button" value="Specialties List" onclick="location.href='@Url.Action("Index", "Specialties")';" class="btn btn-primary" /